.ticker{ 
    display: flex;
    font-size: 2rem;
    width: 300px;
    justify-content: space-around;
    vertical-align: middle;

  }
  
  .up {
    color: #1ae770; 
  }
  
  .down {
    color: #e9311d; 
  }
  