.ticker{ 
    font-size: 2rem;
    padding: 1.5em 3rem;
    border: 2px solid transparent;
  }
  
  .increment {
    border: 2px solid #2ecc71;
    border-radius: 1rem;
    padding: 1.5em 3rem;
    color: #2ecc71; 
  }
  
  .decrement {
    border: 2px solid #e74c3c;
    border-radius: 1rem;
    padding: 1.5em 3rem;
    color: #e74c3c; 
  }
  
  .emoji {
    font-size: 1rem;
  }