.challengeContainerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #333;
  color: white;
}
.challengeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 50%;
  box-shadow: 0px 0px 60px 6px rgba(0, 0, 0, 0.571);
  border-radius: 8px;
  background-color: #666;
  color: white;
}

.tickSpeedControlContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 12px;
}

.tickSpeedControlLabelContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tickSpeedControlContainer > input {
  width: 100%;
}

.logo {
  max-width: 200px;
  max-height: 150px;
}

.clearDataButton {
  cursor: pointer;
  align-self: flex-end;
  margin: 15px;
  border: 0;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: transparent;
  outline: auto;
  border-width: 2px solid white;
  color: #fff;
}

.tickables {
  width: 80%;
}
